In [10]:
from lib.championships import load_greece, load_england, load_italy, team_stats
from lib import period_stats, create_team_df_dict
import pandas as pd
pd.set_option('display.max_rows', 500)

In [11]:
df = load_greece()

In [12]:
df.tail()

              HomeTeam          AwayTeam FTR period
Date
2019-08-24  Olympiakos  Asteras Tripolis   H   1920
2019-08-25        PAOK       Panetolikos   H   1920
2019-08-25   Atromitos            Larisa   D   1920
2019-08-25   Panionios         Volos NFC   A   1920
2019-08-25         AEK            Xanthi   A   1920

In [14]:
team_dfs = create_team_df_dict(df)
team_dfs['PAOK']

,HomeTeam,AwayTeam,FTR,period,count_draw,count_no_draw,result
Date,,,,,,,
2017-08-20,Levadeiakos,PAOK,D,1718,1,,D
2017-08-27,PAOK,Kerkyra,H,1718,,1,W
2017-09-11,Apollon,PAOK,D,1718,1,,D
2017-09-16,PAOK,Panetolikos,H,1718,,1,W
2017-09-24,PAOK,Giannina,H,1718,,2,W
2017-09-30,Larisa,PAOK,D,1718,1,,D
2017-10-15,PAOK,Lamia,H,1718,,1,W
2017-10-22,Olympiakos,PAOK,H,1718,,2,L
2017-10-30,PAOK,Asteras Tripolis,H,1718,,3,W
2017-11-05,AEK,PAOK,H,1718,,4,L
2017-11-20,PAOK,Atromitos,H,1718,,5,W
2017-11-26,Panionios,PAOK,D,1718,1,,D
2017-12-02,Xanthi,PAOK,A,1718,,1,W
2017-12-10,PAOK,Panathinaikos,H,1718,,2,W
2017-12-16,Platanias,PAOK,A,1718,,3,W
2018-01-06,PAOK,Levadeiakos,H,1718,,4,W
2018-01-14,Kerkyra,PAOK,A,1718,,5,W
2018-01-21,PAOK,Apollon,H,1718,,6,W
2018-01-28,Panetolikos,PAOK,A,1718,,7,W
2018-02-04,Giannina,PAOK,A,1718,,8,W
2018-02-12,PAOK,Larisa,H,1718,,9,W
2018-02-17,Lamia,PAOK,A,1718,,10,W
2018-02-25,PAOK,Olympiakos,A,1718,,11,L
2018-03-04,Asteras Tripolis,PAOK,H,1718,,12,L
2018-03-11,PAOK,AEK,A,1718,,13,L
2018-03-31,Atromitos,PAOK,A,1718,,14,W
2018-04-14,PAOK,Panionios,H,1718,,15,W
2018-04-22,PAOK,Xanthi,H,1718,,16,W
2018-04-29,Panathinaikos,PAOK,A,1718,,17,W
2018-05-05,PAOK,Platanias,H,1718,,18,W
2018-08-25,PAOK,Asteras Tripolis,H,1819,,19,W
2018-09-02,Panionios,PAOK,A,1819,,20,W
2018-09-15,OFI Crete,PAOK,A,1819,,21,W
2018-09-23,PAOK,AEK,H,1819,,22,W
2018-09-30,Olympiakos,PAOK,A,1819,,23,W
2018-10-07,PAOK,Apollon,H,1819,,24,W
2018-10-21,Aris,PAOK,A,1819,,25,W
2018-10-29,PAOK,Panathinaikos,H,1819,,26,W
2018-11-03,Atromitos,PAOK,D,1819,1,,D
2018-11-11,PAOK,Panetolikos,H,1819,,1,W
2018-11-24,PAOK,Xanthi,H,1819,,2,W
2018-12-03,Lamia,PAOK,A,1819,,3,W
2018-12-09,PAOK,Larisa,H,1819,,4,W
2018-12-17,Levadeiakos,PAOK,A,1819,,5,W
2019-01-13,Asteras Tripolis,PAOK,A,1819,,6,W
2019-01-19,PAOK,Panionios,H,1819,,7,W
2019-01-27,PAOK,OFI Crete,H,1819,,8,W
2019-01-30,PAOK,Giannina,H,1819,,9,W
2019-02-03,AEK,PAOK,D,1819,1,,D
2019-02-10,PAOK,Olympiakos,H,1819,,1,W
2019-02-18,Apollon,PAOK,A,1819,,2,W
2019-02-24,PAOK,Aris,D,1819,1,,D
2019-03-03,Panathinaikos,PAOK,A,1819,,1,W
2019-03-10,PAOK,Atromitos,H,1819,,2,W
2019-03-16,Panetolikos,PAOK,A,1819,,3,W
2019-03-31,Xanthi,PAOK,A,1819,,4,W
2019-04-07,PAOK,Lamia,H,1819,,5,W
2019-04-14,Larisa,PAOK,D,1819,1,,D
2019-04-21,PAOK,Levadeiakos,H,1819,,1,W
2019-05-05,Giannina,PAOK,A,1819,,2,W
2019-08-25,PAOK,Panetolikos,H,1920,,3,W

In [18]:
england = load_england()
eng_team_dfs = create_team_df_dict(england)
eng_team_dfs['Fulham']

,HomeTeam,AwayTeam,FTR,period,count_draw,count_no_draw,result
Date,,,,,,,
2018-08-11,Fulham,Crystal Palace,A,1819,,1,L
2018-08-18,Tottenham,Fulham,H,1819,,2,L
2018-08-26,Fulham,Burnley,H,1819,,3,W
2018-09-01,Brighton,Fulham,D,1819,1,,D
2018-09-15,Man City,Fulham,H,1819,,1,L
2018-09-22,Fulham,Watford,D,1819,1,,D
2018-09-29,Everton,Fulham,H,1819,,1,L
2018-10-07,Fulham,Arsenal,A,1819,,2,L
2018-10-20,Cardiff,Fulham,H,1819,,3,L
2018-10-27,Fulham,Bournemouth,A,1819,,4,L
2018-11-05,Huddersfield,Fulham,H,1819,,5,L
2018-11-11,Liverpool,Fulham,H,1819,,6,L
2018-11-24,Fulham,Southampton,H,1819,,7,W
2018-12-02,Chelsea,Fulham,H,1819,,8,L
2018-12-05,Fulham,Leicester,D,1819,1,,D
2018-12-08,Man United,Fulham,H,1819,,1,L
2018-12-15,Fulham,West Ham,A,1819,,2,L
2018-12-22,Newcastle,Fulham,D,1819,1,,D
2018-12-26,Fulham,Wolves,D,1819,2,,D
2018-12-29,Fulham,Huddersfield,H,1819,,1,W
2019-01-01,Arsenal,Fulham,H,1819,,2,L
2019-01-12,Burnley,Fulham,H,1819,,3,L
2019-01-20,Fulham,Tottenham,A,1819,,4,L
2019-01-29,Fulham,Brighton,H,1819,,5,W
2019-02-02,Crystal Palace,Fulham,H,1819,,6,L
2019-02-09,Fulham,Man United,A,1819,,7,L
2019-02-22,West Ham,Fulham,H,1819,,8,L
2019-02-27,Southampton,Fulham,H,1819,,9,L
2019-03-03,Fulham,Chelsea,A,1819,,10,L
2019-03-09,Leicester,Fulham,H,1819,,11,L
2019-03-17,Fulham,Liverpool,A,1819,,12,L
2019-03-30,Fulham,Man City,A,1819,,13,L
2019-04-02,Watford,Fulham,H,1819,,14,L
2019-04-13,Fulham,Everton,H,1819,,15,W
2019-04-20,Bournemouth,Fulham,A,1819,,16,W
2019-04-27,Fulham,Cardiff,H,1819,,17,W
2019-05-04,Wolves,Fulham,H,1819,,18,L
2019-05-12,Fulham,Newcastle,A,1819,,19,L

In [21]:
team_stats(eng_team_dfs).iloc[:,8:]

,1920_draws,1920_losses,1920_points,1920_wins,CurrentNoDraw,MaxNoDraw
Name,,,,,,
Liverpool,0.0,0.0,9.0,3.0,12.0,12.0
Man City,1.0,0.0,7.0,2.0,1.0,31.0
Arsenal,0.0,1.0,6.0,2.0,4.0,25.0
Leicester,2.0,0.0,5.0,1.0,1.0,13.0
Brighton,1.0,1.0,4.0,1.0,1.0,8.0
West Ham,1.0,1.0,4.0,1.0,1.0,8.0
Tottenham,1.0,1.0,4.0,1.0,1.0,32.0
Sheffield United,1.0,1.0,4.0,1.0,2.0,2.0
Burnley,1.0,1.0,4.0,1.0,0.0,10.0
Bournemouth,1.0,1.0,4.0,1.0,2.0,11.0
Man United,1.0,1.0,4.0,1.0,1.0,15.0
Everton,1.0,1.0,4.0,1.0,2.0,12.0
Crystal Palace,1.0,1.0,4.0,1.0,2.0,9.0
Chelsea,1.0,1.0,4.0,1.0,1.0,8.0
Aston Villa,0.0,2.0,3.0,1.0,3.0,3.0
Newcastle,0.0,2.0,3.0,1.0,5.0,11.0
Norwich,0.0,2.0,3.0,1.0,3.0,3.0
Southampton,0.0,2.0,3.0,1.0,3.0,9.0
Wolves,3.0,0.0,3.0,0.0,0.0,6.0
Huddersfield,0.0,0.0,0.0,0.0,0.0,14.0
Fulham,0.0,0.0,0.0,0.0,19.0,19.0
Stoke,0.0,0.0,0.0,0.0,2.0,7.0
Swansea,0.0,0.0,0.0,0.0,5.0,7.0
Watford,0.0,3.0,0.0,0.0,6.0,9.0
West Brom,0.0,0.0,0.0,0.0,3.0,8.0
Cardiff,0.0,0.0,0.0,0.0,16.0,16.0